/* Aplica un fondo de pantalla completo a la página */
body {
    background-image: url('img/Gravelinas.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir toda la pantalla */
    background-position: center center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin: 0;
    font-family: Arial, sans-serif; /* Cambia la fuente según tus preferencias */
    color: white; /* Cambia el color del texto a blanco */
}

/* Estilos para el contenedor principal */
#profiles {
    background: rgba(0, 0, 0, 0.7); /* Fondo negro semitransparente para mejorar la legibilidad */
    padding: 20px;
    border-radius: 8px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos para los equipos */
.team {
    margin-bottom: 20px;
}

/* Estilos para los jugadores */
.player {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Estilos para los enlaces de los jugadores */
.player a {
    color: white; /* Cambia el color del enlace a blanco */
    text-decoration: none; /* Quita el subrayado del enlace */
    margin-right: 10px;
}

/* Estilos para los íconos de línea */
.player img {
    margin-left: 10px;
}

/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
    .player {
        flex-direction: row; /* Alinea los elementos en fila en dispositivos móviles */
        align-items: center;
    }
    
    .player img {
        margin-left: 10px;
    }
}
